{% extends 'base.html' %}

{% block content %}
<div class="container pt-8">
  <h1>User List</h1>

  {% if users %}
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Homepage</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                  {% if user.homepage %}
                    <a href="{{ user.homepage }}" target="_blank">{{ user.homepage }}</a>
                  {% else %}
                    No homepage
                  {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  {% else %}
    <p>No users found.</p>
  {% endif %}
</div>
{% endblock %}
